.list{
	background-color:lavender;
	padding-top:15px;
	padding-bottom: 20px;
}

/* 
	override hover bg color
*/
a.list-group-item:hover{
	background-color:#fff;
}
/* 
	override bg color
*/
.tasklistitem{
	background-color:#ffffff;
}

/* 
	done task item
*/
.donetasklistitem{
	background-color:#f0ebf4;
	color: #8c8294;
	text-decoration: line-through;
	text-decoration-color: red;

}

/* 
	vertical alignement inside a task row
	changes via media query to different properties for different screen sizes
*/
.itemelement-row{

    display: flex;
    align-items: center;

}

/* 
	vertical alignement inside a task row element
	DOES NOT change via media query to different properties 
*/

.itemelement-element{

    display: flex;
    align-items: center;

}

.formfields-vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/* 
	override alert properties
*/
.alertformgroup {

	padding:4px;
	margin-bottom:0px;	
  }
  
/* 
	override button properties for task edit buttons
*/
.itemelement-button{
    display:block;
    margin:auto;
}
/* 
	override columns properties for no padding and margin
*/
.itemcolumns-nopadding {
   padding-left: 0 ;
   padding-right: 0 ;
   margin-left: 0 ;
   margin-right: 0 ;

}

/* 
	media queries
*/
/* 
	devices under 992px
*/
@media (max-width: 991px) {

.itemelement-row{

    display: block;
    align-items: auto;

}
.alertformgroup {

	font-size: x-small;
	width:100%;
  }
  
  .itemcolumns-nopadding {
   padding: 0 ; 
       
}

.alert-block{
	display: block;
	width:100%;

}

.alertsmall{
	font-size: xx-small;
	width:100%;
  }
  
.inputsmall{
	   width:100%;
}

	

}

