.list{
	background-color:lavender;
	padding-top:15px;
	padding-bottom: 20px;
}
a.list-group-item:hover{
	background-color:#fff;
}

.tasklistitem{
	background-color:#ffffff;
	
}

.donetasklistitem{
	background-color:#f0ebf4;
	color: #8c8294;
	text-decoration: line-through;
	text-decoration-color: red;

}

.itemelement-row{

    display: flex;
    align-items: center;

}
.itemelement-element{

    display: flex;
    align-items: center;

}

.formfields-vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.alertformgroup {
	
  
	padding:4px;
	margin-bottom:0px;
  }
  
.alert-block{
	display: block;
	width:100%;

}
.itemelement-button{
    display:block;
    margin:auto;
}

@media (max-width: 991px) {
.itemelement-row{

    display: block;
    align-items: auto;

}

	

}

